body {
    font-family: Verdana, sans-serif;
    max-width: 500px;
    margin: 150px auto;
}
h1 {
    color: #DA70D6;
}
li {
    color: #DA70D6;
}
p {
    color: #DA70D6;
}
h2 {
    color: #4682B4;
body {
    background-color: #D3D3D3;
}
.tg-link {
    color: #0088cc;
    text-decoration: none;
    font-weight: bold;
    border-bottom: 2px solid transparent;
    transition: all 0.3s;
}

.tg-link:hover {
    color: #006699;
    border-bottom: 2px solid #0088cc;
}
